/* GENERAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

button{
  padding: 10px;
  border-radius: 40px;
  border: none;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: white;
}

.color-black {
  color:#23272A;
}

.bg-gray {
	background-color: #F6F6F6;
}

.bg-black {
  background-color: #23272A;
  color: white;
}

h2 {
  font-size: 30px;
}

/* HEADER */
header {
  background-image: url(./img/jumbo.png);
  min-height: 600px;
  background-size: cover; 
  color: white;
}

header h1 {
  font-size: 40px;
}

header p{
  font-weight: 400;
}

header .col ul{
  display: flex;
  flex-wrap: wrap;
}

header ul li{
  margin-right: 50px;
}

header .header-content {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.header-content h1,p{
  padding: 15px;
}
/* FINE HEADER */

/* MAIN */
main section {
  padding: 50px 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.text {
  flex-basis: calc((100% / 12) * 7);
}

.text p{
  padding: 20px 0;
}

main .col-12 {
	flex-basis: calc((100% / 12) * 12);
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col-10 {
	flex-basis: calc((100% / 12) * 10);
}

main .col-8 {
	flex-basis: calc((100% / 12) * 8);
  display: flex;
  justify-content: center;
}

main .col-4 {
	flex-basis: calc((100% / 12) * 4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-2 {
	flex-basis: calc((100% / 12) * 2);
}

.row-reverse {
	flex-direction: row-reverse;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.reversed-section .row {
	flex-direction: row-reverse;
}

.section4-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.title-p {
  max-width: 800px;
  text-align: center;
}

.under-title {
  margin-bottom: 20px;
}

.section4-content button{
  background-color: #8EA1E1;
  color: white;
}
/* FINE MAIN */

/* FOOTER */
  footer .col-4 {
    flex-basis: calc((100% / 12) * 4);
    display: flex;
    flex-direction: column;
  }

  .container-col4 {
    max-width: 300px;
    color: white;
  }

  .col-4 div{
    margin:10px 0;
  }

  footer span img {
    width: 20px;
  }

  .col-4 h2 {
    font-size: 30px;
  }

  footer h2{
    color: #536296;
  }
  
/* FINE FOOTER */

/* DEBUG */
.debug .page-header {
	padding: 10px;
}

.debug .page-footer {
	background-color: #23272a;
	padding: 10px;
}

.debug footer [class^='col-'] {
	min-height: 200px;
	border: 2px dashed white;
}

.debug footer .col {
	padding: 20px;
	border: 2px dashed white;
	color: white;
}

.debug .cta-section .col-12 {
	background-color: #228b22;
	min-height: 400px;
}

/* SOCIALS */

 .fa {
  margin-right: 5px;
  text-decoration: none;
  color: white;
} 